<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="css/add.css">
    <link rel="shortcut icon" href="images/favicon-32x32.png">
    <link rel="shortcut icon" href="images/favicon-16x16.png">
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/musicBars.css">

    <title>Karibu</title>
</head>
<body>

<div class="card">
    <p>Kenya's No.1 Playlist Collection <strong>For All Times, Across Time.</strong></p>
    <div class="music">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <p class="card-footer">Created by SnowFlake</p>
</div>

<div id="nav-container">
    <div id="nav-overlay"></div>
    <nav id="nav-fullscreen">
        <ul>
            <li><a href="/sherehe">Sherehe</a></li>
            <li><a href="/chill">Chill</a></li>
            <li><a href="/sadHours">Sad Hours</a></li>
            <li><a href="/love">Love Birds</a></li>
            <li><a href="/trap">Trap, Drill & Rock</a></li>
            <li><a href="/religious">Religious</a></li>
            <li><a href="/jamaica">Roots, Reggae & DanceHall</a></li>
            <li class="custom"><a href="/socials" style="color:#333;">Reach Out, Say Hello</a></li>
        </ul>
    </nav>

    <a id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="js/social.js"></script>
<script src="js/landing.js"></script>
<script src="js/add.js"></script>
<script src="js/data.js"></script>
</body>
</html>

