#nav-container {
    margin-left: auto;
    position: relative;
    padding: 16px;
}

#nav-toggle {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transform: rotate(0deg);
}

#nav-toggle span {
    background-color: black;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    transition: 0.5s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 4px;
    transform-origin: left center;
}

#nav-toggle span:nth-child(2) {
    top: 14px;
    transform-origin: left center;
}

#nav-toggle span:nth-child(3) {
    top: 24px;
    transform-origin: left center;
}

#nav-toggle.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 3px;
    left: 4px;
}

#nav-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-toggle.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 25px;
    left: 4px;
}

#nav-overlay {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    transition: 1s;
    transform: scale3d(0, 0, 0);
}

#nav-overlay.open {
    transform: scale3d(1, 1, 1);
}

#nav-fullscreen {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: ease-in-out 0.25s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}
#nav-fullscreen ul {
    list-style: none;
}
#nav-fullscreen a {
    color: white;
    text-decoration: none;
}

#nav-fullscreen.open {
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 0.5s;
    transition-delay: 0.25s;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    background:url(../images/kenya.jpg) center/cover no-repeat fixed;
    overflow: hidden;
}

#nav-overlay {
    background: linear-gradient(180deg, #FF512F 10%, #FF512F 50%, #DD2476 90%);
}

#nav-toggle span {
    background-color: black;
}

#nav-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 5vh;
}
#nav-fullscreen li:hover {
    list-style: disc;
}

.custom {
    display: inline-block;
    position: relative;
}

.custom::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.custom:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
;
}

.custom:hover {
    color: white;
}